<div class="signin-page">
  <img src="assets/img/boss-logo.png" class="boss-logo">
  <div class="caption">Earn like a boss</div>
  <div class="auth-tabs">
    <a class="tab-link" routerLink="/sign-in" routerLinkActive="active">
      <div class="link-text">Sign In</div>
      <div class="link-underline"></div>
    </a>
    <a class="tab-link" href="#">
      <div class="link-text">Sign Up</div>
      <div class="link-underline"></div>
    </a>
  </div>
  <div class="form-group">
    <label for="email" class="textfield-label">Email</label>
    <input [(ngModel)]="email" type="text" />
    <label for="password" class="textfield-label">Password</label>
    <input [(ngModel)]="password" type="password" />
    <div class="checkbox-field">
      <input [(ngModel)]="rememberMe" type="checkbox" name="remember-me" />
      <label for="remember-me" class="checkbox-label">Keep me signed in</label>
    </div>
  </div>
  <div class="long-underline"></div>
  <a href="#">Forgot Password?</a>
  <button (click)="signIn()" class="sign-in">Sign In</button>
</div>
