<nav class="navbar">
  <div class="nav-link">
    <a routerLink="/home" routerLinkActive="active">
      <span>Home</span>
    </a>
  </div>
  <div class="nav-link">
    <a routerLink="/spending" routerLinkActive="active">
      <span>Spending</span>
    </a>
  </div>
  <div class="nav-link">
    <a routerLink="/learn" routerLinkActive="active">
      <span>Learn</span>
    </a>
  </div>
  <div class="nav-link">
    <a routerLink="/home" (click)="fastForward()">
      <span>Invest</span>
    </a>
  </div>
</nav>