<nav class="navbar">
  <div class="nav-link">
    <a routerLink="/" routerLinkActive="active">Home</a>
  </div>
  <div class="nav-link">
    <a routerLink="/spending" routerLinkActive="active">Spending</a>
  </div>
  <div class="nav-link">
    <a routerLink="/goals" routerLinkActive="active">Goals</a>
  </div>
  <div class="nav-link">
    <a routerLink="/" routerLinkActive="active">Learn</a>
  </div>
  <div class="nav-link">
    <a routerLink="/" routerLinkActive="active">Invest</a>
  </div>
</nav>