@import "~src/_variables.scss";

.home-page {
    background-color: #d3d3d3;
    padding: grid(5) 0;
    mat-card {
        margin: grid(5);
    }
    mat-card-title {
        font-size: $font-size-base;
    }
    mat-progress-bar {
        height:14px;
        border-radius: 5px;
    }
    mat-card-actions {
        text-align: right;
        button {
            color: $purple;
            font-weight: 400;
            font-size: 16px;
            padding: 10px;
            background-color: white;
        }
    }
}