@import "~src/_variables.scss";

.spending-page {
    background-color: $dark-purple;
    padding-bottom: 2px;
    .title {
        font-size: 12px;
        font-weight: 500;
        color: $white;
        padding: 12px 24px 0px;
        font-family: Montserrat;
        font-style: normal;
    }
    mat-card {
        margin: 10px;
        padding: 0;
        border-radius: 10px;
    }
    .spending-div:first {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .header {
        background-color: #f5f6f7;
        padding: grid(4);
        font-family: Heebo;
        font-size: 12px;
        font-weight: 500;
        color: #626c7d;
        &.header-first {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
    .name {
        font-family: Heebo;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        color: $black;
    }
    .description {
        font-family: Montserrat;
        font-size: 12px;
        font-weight: normal;
        line-height: 2;
        color: #626c7d;
    }
    .amount {
        margin: auto;
        margin-right: 16px;
        font-family: Montserrat;
        font-size: 16px;
        text-align: right;
        color: $black;
    }

}